[Unit]
Description=XaaSGrid Platform
After=docker.service


[Service]

WorkingDirectory=/opt/xaasgrid

ExecStart=/usr/bin/docker compose up

Restart=always


[Install]

WantedBy=multi-user.target
