# EaaSGrid API Local PostgreSQL Configuration

NODE_ENV=development

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE

PGHOST=localhost
PGPORT=5432
PGDATABASE=DATABASE
PGUSER=USER
PGPASSWORD=PASSWORD

PORT=4000
